.login {
  margin: 20px auto 0;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  background: hsla(0, 0%, 90%, 0.5);
  border: 2px solid #42464b;
  position: fixed;
  width: 340px;
  height: 100px;
}


input[type="password"], input[id="username"] {
  background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 7px;
  box-shadow: 0 1px #a1a3a3;
  box-sizing: border-box;
  color: #696969;
  height: 33px;
  margin: 25px 0 0 13px;
  transition: box-shadow .3s;
}

#loginbtn {
}


#login-button {
  margin-left: 40%;
}
