.login {
  margin: 20px auto 0;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  background: hsla(0, 0%, 90%, 0.5);
  border: 2px solid #42464b;
  position: fixed;
  width: 250px;
  height: 100px;
}


input[type="password"], input[id="username"] {
  border: 1px solid #a1a3a3;
  border-radius: 7px;
  box-shadow: 0 1px #a1a3a3;
  box-sizing: border-box;
  color: #696969;
  height: 33px;
  padding: 20px;
  margin: 25px;
  transition: box-shadow .3s;
}

#loginbtn {
  margin-top: 10px;
  margin-left: 70%;
}
