<nav class="navbar1">
    <a class="nav-link" routerLink="hot">HOT</a>
    <a class="nav-link" routerLink="new">NEW</a>
    <a class="nav-link" routerLink="rising">RISING</a>
    <a class="nav-link" routerLink="controversial">CONTROVERSIAL</a>
    <a class="nav-link" routerLink="top">TOP</a>
    <a class="nav-link" routerLink="gilded">GILDED</a>
  </nav>

  <div class="row" id="front-page">
    <div class="col-lg-8">
      <app-front-page></app-front-page>
    </div>
    <div class="col-lg-4">
        <app-sign-in></app-sign-in>
      </div>

    </div>




  <footer class="footer">
    <div class="container">
      <p><em>Use of this site constitutes acceptance of our User Agreement and Privacy Policy. © 2018 reddit inc. All rights reserved.

REDDIT and the ALIEN Logo are registered trademarks of reddit inc.</em></p>
    </div>
  </footer>
