.navbar1{
  display: flex;
  width: 100%;
  border-bottom: 2px black solid;
  font-family: 'Oswald', sans-serif;
  background-color: #CFE4F7;
  color: #3674B7;
}

.nav-link {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
